/* Estilos del componente welcome */

.container-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    color: white;
    background-color: #4DD4C4;
}

    .container-title{
        margin-top: -50px;
    }

        .icon-donate{
            width: 350px;
        }

        .subtitle-app{
            color: white;
            font-size: 18px;
            font-family: 'Lora';
            text-align: center;
        }

    .container-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .btn-iniciar{
            height: 50px;
            width: 300px;
            background-color: #17B093;
            border-radius: 5px;
            border: 1px solid white;
            color: #fff;
            font-family: 'Lora';
            font-size: 16px;
            cursor: pointer;
        }

        .btn-iniciar:hover{
            background-color: #0f8b75;
        }

        .p-singup{
            font-family: 'Lora';
            font-size: 16px;
        }

            .p-singup a{
                color: #fff;
                text-align: center;
            }

            .p-singup a:hover{
                color: blueviolet;
            }


/* Estilos del componente register */

.container-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .container-back{
        display: flex;
        align-items: center;
        position: relative;
        width: 93%;
        margin-top: 10px;
        margin-left: 20px;
        cursor: pointer;
    }

        .container-back img{
            width: 20px;
            cursor: none;
        }

        .container-back p{
            font-family: 'Lora';
        }

    /* .container-logo{

    } */
        .icon-donate-register{
            width: 250px;
        }

    .form-register{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .title-register{
            text-align: center;
            font-size: 30px;
            font-family: 'Roboto';
        }

        .form-register input{
            width: 250px;
            margin-bottom: 20px;
            height: 29px;
            padding: 5px;
            font-family: 'Lora';
            border-radius: 5px;
            border: 1px solid #444;
        }

        .container-btn-register{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .btn-register{
                height: 50px;
                width: 300px;
                background-color: #17B093;
                border-radius: 5px;
                border: 1px solid white;
                color: #fff;
                font-family: 'Lora';
                font-size: 16px;
                cursor: pointer;
            }

            .btn-register:hover{
                background-color: #0f8b75;
            }

            .text-term{
                text-align: center;
                font-family: 'Lora';
                font-size: 12px;
            }

/* Estilos componente Login */

            .icon-donate-login{
                width: 250px;
                margin-top: 50px;
            }

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

    .title-login{
        text-align: center;
        font-size: 28px;
        font-family: 'Roboto'; 
        margin-bottom: 60px;
    }

    .form-login input{
        width: 250px;
        margin-bottom: 20px;
        height: 29px;
        padding: 5px;
        font-family: 'Lora';
        border-radius: 5px;
        border: 1px solid #444;
    }

    .container-btn-login{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-login{
        height: 50px;
        width: 300px;
        background-color: #17B093;
        border-radius: 5px;
        border: 1px solid white;
        color: #fff;
        font-family: 'Lora';
        font-size: 16px;
        cursor: pointer;
    }

    .btn-login:hover{
        background-color: #0f8b75;
    }

    .text-password a{
        text-align: center;
        font-family: 'Lora';
        text-decoration: none;
    }


/* Estilos componente inicio */

/* .container-inicio{

} */

    .container-nav-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
    }

        .container-nav-top img{
            width: 25px;
            margin-right: 10px;
        }

            .title-inicio{
                font-family: 'Roboto';
            }

            .container-nav-top2{
                display: flex;
                align-items: center;
            }

                .container-nav-top2 input{
                    margin-right: 10px;
                    width: 100px;
                    height: 20px;
                    border-radius: 4px;
                    border: 1px solid #444;
                    font-family: 'Lora';
                }

    .container-setting{
        display: flex;
        justify-content: space-evenly;
    }

        .setting{
            width: 37px;
            height: 37px;
            background-color: #ccc;
            border-radius: 20px 20px 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

            .setting img{
                width: 19px;
            }

        .filter-food{
            width: 90px;
            height: 36px;
            background-color: #ccc;
            border-radius: 20px 20px 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

            .filter-food img{
                width: 19px;
            }

            .filter-food p{
                font-family: 'Lora';
                margin-left: 4px;
                font-size: 14px;
            }

        .filter-object{
            width: 110px;
            height: 36px;
            background-color: #ccc;
            border-radius: 20px 20px 20px 20px; 
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

            .filter-object img{
                width: 19px;
            }

            .filter-object p{
                font-family: 'Lora';
                font-size: 14px;
            }

        .filter-available{
            width: 90px;
            height: 36px;
            background-color: #ccc;
            border-radius: 20px 20px 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .filter-available p{
            font-family: 'Lora';
            font-size: 14px;
        }

    .container-product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .container-product-item{
            display: flex;
            justify-content: space-between;
            border: 1px solid black;
            border-radius: 10px;
            height: 150px;
            width: 93%;
            margin-top: 20px;
        }

            .img-product{
                width: 150px;
                height: 150px;
            }

            .container-description{
                margin-right: 10px;
            }

                .title-product{
                    font-family: 'Roboto';
                    font-size: 19px;
                }

            .container-user{
                display: flex;
                align-items: center;
                margin-top: -7px;
            }

                .img-usr{
                    width: 30px;
                }

                .text-name-user{
                    margin-left: 7px;
                }

            .container-details{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-right: 10px;
            }

                .container-pin{
                    display: flex;
                    align-items: center;
                }

                    .img-pin{
                        width: 20px;
                    }

                    .text-pin{
                        font-family: 'Lora';
                        font-size: 12px;
                        margin-left: 3px;
                    }

                .container-view{
                    display: flex;
                    align-items: center;
                }

                    .img-view{
                        width: 20px;
                    }

                    .text-view{
                        font-family: 'Lora';
                        font-size: 12px;
                        margin-left: 3px;
                    }

                .text-state{
                    color: #4DD4C4;
                    font-family: 'Lora';
                    font-weight: 700;
                }